html {
    font-family: sans-serif; 
}


.navbar {
  overflow: hidden;
  background-color: #B22222;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}



/*here the color and size of the heading has been styled*/
h1 {
color: #8B0000 ;
font-size: 20pt;
font-family: Arial;
text-align: center
}


